body {
    font-family: sans-serif;
    background: #eee;
}
.container {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    border: 1px solid #d8d8d8;
    background-color: #fff;
}

/* custom frappe-gant class */
.gantt .bar-progress {
    fill: tomato !important;
    /* ↑ 進行度のバーがトマト色になります */
}
